.firstSpan {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 15vh;
  color: white;
}
.secondSpan {
  color: white;
  display: block;
  width: 100%;
  font-size: 2vh;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .firstSpan {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 10vh;
    color: white;
  }
}
