.header{
    font-size: 4vh;
    color: white;
    font-weight: bolder;
    display: block;
    text-align: center;
}

.loadingSpinnerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding: 5vh;
}

.errorDiv{
    color: white;
}